<h1>Inventory</h1>
<p>Our Current Movies</p>


<div class="col-md-12">
	<% @products.each do |product| %>
		<div class="col-md-3">
			<div class="panel panel-default">
  				<div class="panel-body">
  				<%= render partial: "product_teaser", locals: {product: product} %>
  				</div>
 			</div>
 		</div>
	<% end %>
</div>